@import "tailwindcss";

@font-face {
    font-family: 'Kilgo U';
    src: url('/fonts/KillgoU.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
}